<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>inew for nodejs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/essage.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <script type="text/javascript" src="/ejs.min.js"></script>
    <script type="text/javascript" src="/jquery-1.9.1.min.js"></script>
    <style type="text/css">
        @font-face {
            font-family: 'fontello';
            src: url('/font/fontello.woff') format('woff'), url('/font/fontello.ttf') format('truetype'), url('/font/fontello.svg#fontello') format('svg');
        }
    </style>
</head>
<body>