table {
    width: 100%;
}

table td {
    padding: 2px 5px;
    border-bottom: solid 1px #ddd;
    background: #fff;
}

table .table-head {
    width: 200px;
}

td.pass {
    color: green;
}

td.reject {
    color: red;
}

header {
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    padding: 5px 2px;
    border-bottom: solid 5px #f3f3f3;
    margin-top: 10px;
}