<span class="stamp fontello">{%=type%}</span>
<article class="typo wrapper-padding wrapper-page">
    <div id="comments">
        {%  commentsList.forEach(function(comment){ %}
        <div class="comment">
            <div class="typo-small">
                <a href="/articles/{%=comment.article.id%}">{%=comment.article.title%}</a>
                <small>{%=comment.article.created_at%}</small>
            </div>
            <div class="typo-small">{%-comment.text%}</div>
        </div>
         {% }) %}
    </div>
</article>


<div class="pagination">
    <ul>
        {% for(var i= 0; i < pageInfo.totalPage; i++){ %}
        <li class=" active  "><a href="/users/comments?page={%=i+1%}">{%=i+1%}</a></li>
        {% } %}
    </ul>
</div>


