<span class="stamp fontello">{%=type%}</span>
<article class="typo wrapper-padding wrapper-page">
    <div id="comments">
        {%  commentsList.forEach(function(comment){ %}
        <div class="comment">
            <div class="typo-small">
                <a href="/article/{%=comment.article.id%}">{%=comment.article.title%}</a>
                <small>{%=comment.article.created_at%}</small>
            </div>
            <div class="typo-small">{%-comment.text%}</div>
        </div>
         {% }) %}
    </div>
</article>

