<span class="stamp fontello">{%type%}</span>

<article class="typo wrapper-padding wrapper-page">


    <div class="typo-p tab tab-notify">
        <h2>Notifications: </h2>
        <a class="tag tag-tips active" href="/inews/index.php/my/notice">unread</a>
        <a class="tag tag-info" href="/inews/index.php/my/notice?read">read</a>
    </div>

    <p>No notifications!</p>

    <div id="comments">

        <div style="display: none;" id="loading" class="hide"></div></div>
</article>

<div class="pagination">
    <ul></ul>
</div>