<div class="typo wrapper-padding my">
    <img src="{%=userInfo.gravatar%}?s=80&amp;d=mm&amp;r=g" class="avatar">
    <p class="ref">
        <a href="#">Posts</a>
        <a href="#">Comments</a>
    </p>
    <ul>
        <li>Username: {%=userInfo.name%}</li>
        <li>Posts: {%=userInfo.posts_count%}</li>
        <li>Comments: {%=userInfo.comments_count%}</li>
        <li>Diggs: {%=userInfo.digged_count%}</li>
        <li>Created at: <small>{%=userInfo.created_at%}</small></li>
        <li>Bio: {%=userInfo.bio%}</li>
    </ul>


</div>