<div class="tools news">
    <form class="news-item" action="" id="searchArticle" novalidate="true">
        <!--<small class="pull-right">-->
            <!--<a class="tag tag-ok"-->
               <!--href="javascript:(function(d,s){ window.site_url = 'http://localhost/inews/index.php'; s = d.createElement('script');s.src=document.location.protocol + '//dn-inews.qbox.me/bml.js';d.head.appendChild(s);})(document);">分享到iNews</a>-->
            <!--←拖到书签栏-->
        <!--</small>-->
        <i class="font font-quote"></i>
        <input type="text" required="" id="searchKW"placeholder="type to search..." autofocus="" name="kw" class="">
    </form>

    <script>
        $('#searchArticle').submit(function (e){
            e.preventDefault();
            var kw = $('#searchKW').val();
            $.getJSON('/api/v1/articles?kw='+ kw, function (result) {
                var newsList = $('#newsListTempl').html();
                var html = ejs.render(newsList, { newsList: result.data, kw : kw});
                $('#newsList').html(html);
            })
        })

    </script>
</div>
<span class="stamp fontello">TOP</span>

<script id="newsListTempl" type="text/template">

    {% if (typeof newsList != "undefined" && newsList.length) { %}

        {% if(typeof kw != "undefined") {%}
    <li class="news-item news-item-cap"><strong>Search result for: <span class="highlight">{%=kw%}</span></strong></li>
        {% } %}

    {%  newsList.forEach(function(newsItem){ %}

    <li class="news-item up">
        <a href="/public/users/{%=newsItem.user.id%}" class="gravatar"><img
                src="{%=newsItem.user.gravatar%}?s=36&d=mm&r=g"></a>
        <h4>
            <a href="/articles/{%=newsItem.id%}">
                {%=newsItem.title%} </a>
            <small class="up-content">
                <span data-id="{%=newsItem.id%}" class="btn-up font font-thumbs-up {%=newsItem.isDigg? 'on' : ''%}"></span>
                (<cite class="up-count">{%=newsItem.digg_count%}</cite>)
            </small>
        </h4>
        <small class="meta">
            <a href="/articles/{%=newsItem.id%}/comments#response">discuss ({%=newsItem.comments_count%})</a> /
            <a href="/public/users/{%=newsItem.user.id%}">{%=newsItem.user.name%}</a> @  {%var currentDate = new Date(newsItem.created_at)%}
            {%=currentDate.getFullYear()%}-{%=currentDate.getMonth() + 1%}-{%=currentDate.getDate()%} {%=currentDate.getHours()%}:{%=currentDate.getMinutes()%}:{%=currentDate.getSeconds()%}

            {% if(newsItem.isOwner) { %}
            / <a class="highlight" href="/users/articles/{%=newsItem.id%}#delete">delete</a>
            / <a class="highlight-ok" href="/articles/{%=newsItem.id%}#edit">edit</a>
            {% } %}

        </small>


    </li>
    {% }) %}
    {%  }else { %}
    <li class="news-item up">
        No contents found!
    </li>
    {%  }%}

    <div class="pagination">
        <ul><li class=" active  "><a href="/articles?page=1">1</a></li>
    </div>
</script>

<script>
    $.getJSON('/api/v1/articles', function (result) {
        var newsList = $('#newsListTempl').html();
         console.log('api articles')
        var html = ejs.render(newsList, { newsList: result.data });
      //   console.log(html);
        $('#newsList').html(html);
    })

    // x, 这个 '.btn-up' 是 hardcore，jquery 不支持直接传 obj
    document.oneClick = true;
    $(document).on('click', 'span.btn-up', function () {
        console.log($(this).data());
        console.log($(this).data('id'))

        var self =  $(this);

        var articleId = self.data('id');

        //  $(this).addClass('on')
        //  console.log($(this).data('user'))
        if(document.oneClick)  {
            document.oneClick = false;
            $.post('/api/v1/users/diggs/'+articleId, {}, function (result){
                console.log(result);
//            $(this).addClass('on')

                var fn = self.hasClass('on') ? 'removeClass' : 'addClass';
                self[fn]('on');
                self.parent().find('.up-count').html(result.data.digg_count);

                document.oneClick = true;
            }).fail(function (jqxhr){
                        $('#pageContent').text(jqxhr.responseText);
                    })

        }



    })

</script>

<ul class="news typo" id="newsList">

    <li class="news-item up">
        No contents found!
    </li>
</ul>
