<article class="typo wrapper-padding">
    <h2>Signin:</h2>

    <form id="signin" >
        <p><input  ng-model="user.name" type="text" autofocus name="name" min="6" required="required" placeholder="User name/email"/></p>

        <p><input  ng-model="user.password" type="password" name="password" required="required" placeholder="Password"/></p>
        <input class="btn" type="submit" ng-click="submit()" value="Signin"/>
        <small>don't have an account? <a href="#register" class="highlight">Get one &rarr;</a></small>
    </form>



</article>