<article class="typo wrapper-padding up hover">

    <h2 class="title">{%=article.title%}
        <small class="up-content">
            <span data-user="{%=article.user_id%}" data-id="{%=article.id%}" class="btn-up font font-thumbs-up "></span>
            (<cite class="up-count">{%=article.digg_count%}</cite>)
        </small>
    </h2>

    <div class="entry">
        <div class="typo-p">
            <p>{%=article.content%}</p>
        </div>


        <div class="identical">
            <img src="{%=article.user.gravatar%}?s=30&amp;d=mm&amp;r=g"
                 class="avatar">
            created by <a href="/public/users/{%=article.user.id%}">{%=article.user.name%}</a> @
            <small>{%=article.created_at%}</small>
        </div>



    </div>

    <div id="respond">
        <h3>Post a response: </h3>

        <form method="POST" action="" id="articleComment" novalidate="true">
            <textarea placeholder="Some words..." class="typo-p" rows="3" required="required" name="text"
                      style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 93px;"></textarea>
            <input type="hidden" value="{%=article.id%}" name="article_id">
            <input type="submit" value="Share my mind" class="btn">
            <small><a target="_blank" href="http://wowubuntu.com/markdown/">Markdown syntax is supported</a></small>
        </form>
    </div>
    <script>


        function loadComments(){
            var path = '/api/v1/articles/{%=article.id%}/comments';
            console.log(path);
            $.get('/templ/article/commentsList.ejs', function (templ){

                $.get(path, function (apiRes){
                    var templHtml = ejs.render(templ, { commentsList: apiRes.data });
                    console.log(templHtml)
                    $('#comments').html(templHtml)
                })

            })
        }
        $('#articleComment').submit(function (e){
            e.preventDefault();

            $.post('/api/v1/users/comments',$(this).serialize(), function (apiRes){
                loadComments();
            }).fail(function (jqxhr){
                        $('#pageContent').text(jqxhr.responseText);
                    })
        })


        loadComments();

    </script>

    <div id="comments">




    </div>
</article>