{%  commentsList.forEach(function(comment){ %}
<div data-id="{%=comment.id%}" data-author="{%=comment.user.name%}" id="comment_{%=comment.id%}" class="comment">
    <div class="identical">
        <a class="user-ok" href="/users/{%=comment.user_id%}">
            <img src="{%=comment.user.gravatar%}?s=30&amp;d=mm&amp;r=g" class="avatar">
            {%=comment.user.name%}        </a>
        <a class="identical-day" href="#comment_{%=comment.id%}"># {%=comment.created_at%}</a>
        <a class="reply" href="#respond">reply</a>
    </div>
    <div class="typo-p"><p>{%-comment.text%}</p>
    </div>
</div>
{% }) %}

<script>


     var form = $('#respond')
             , reply;

     reply = function () {
         var cmt = $(this).closest('.comment')
                 , au = cmt.data('author')
         //, id = cmt.data('id')
                 , sel = document.getSelection() + ''
                 , textarea = form.find('textarea')
                 , text;

         sel = sel ? ('> QUOTE: ' + sel + '\n\n') : '';
         text = sel + '@' + au + ' ';

         cmt.append(form);

         textarea.val(text);
         textarea[0].selectionStart = text.length;
         textarea[0].selectionEnd = text.length;

         textarea.focus();

         return false;
     }

//     this.on('click', '.reply', reply);

    $(document).on('click', '.reply', reply);

</script>